@font-face {
    font-family: 'iCielBC Pacifico normal';
    src: url('iCielBCPacifico-normal.eot');
    src: url('iCielBCPacifico-normal.eot?#iefix') format('embedded-opentype'),
        url('iCielBCPacifico-normal.woff2') format('woff2'),
        url('iCielBCPacifico-normal.woff') format('woff'),
        url('iCielBCPacifico-normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

